.head-content {
  padding: 20px 0 0;
  flex: 3;
  width: 100%;
}

.headline {
  text-align: center;
  width: 100%;
  color: var(--color-primary-var);
}

.header-body {
  margin-top: 25px;
  width: 100%;
}

.head-content .header-body .items {
  margin: 0;
  width: 100%;
}

.head-content .header-body .items .item {
  padding-top: 29px;
  width: 100%;
  border: 1px solid black;
}

.swiper-wrapper {
  box-sizing: border-box !important;
  width: 1210px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head-content .header-body .items img {
  width: 100%;
  height: 100%;
  padding: 34px;
}

.item-img {
  /* padding: 25px; */
  height: 400px;
  width: 100%;
  max-width: 400px;
  margin: 30px auto 0;

  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(183, 183, 183);
}

.item-details {
  text-align: center;
  padding: 25px;
}

@media screen and (max-width: 600px) {
  .head-content {
    padding: 0;
    margin: 0;
  }

  .head-content .header-body .items {
    margin: 0;
    flex-direction: column;
  }

  .item-details h3 {
    font-size: 18px;
  }

  .item-details p {
    font-size: 14px;
  }

  .head-content .header-body .items .item-img {
    height: 280px;
  }
}

#app { height: 100%; }

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */

  /* display: -webkit-box; */
  width: 700px;

  /* background-color: red; */

  /* display: -ms-flexbox; */
  display: -webkit-flex;

  /* display: flex; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.limit {
  width: 100%;

  /* background-color: purple; */
}
