@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
}

/*
.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
} */
.sub-container {
  position: relative;
  margin-left: 250px;
  width: calc(100% - 250px);

  /* background-color: red; */

  /* width: 100%; */
}

:root {
  --color-bg: rgb(31, 31, 31);
  --color-bg-variant: rgb(230, 230, 230);
  --color-primary: rgb(84, 2, 84);
  --color-primary-var: rgb(130, 8, 130);
  --color-white: #fff;
  --color-abs: rgb(255, 208, 164, 0.7);
  --transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

form {
  width: 100%;
  max-width: 650px;
  margin: 200px auto;
  margin: 280px auto;
}

form > div {
  width: 100%;
}

.model-selector {
  width: 100%;
}

form input,
form select {
  width: 100%;
  padding: 8px 4px;
}

.res-contain {
  width: 100%;
  max-width: 800px;
  margin: 280px auto;
  justify-content: space-between;

  /* background-color: coral; */
}

.res-contain table {
  width: 100%;
  text-align: left;
}

.res-contain table,
.res-contain table td,
.res-contain th {
  border: 1px solid black;
  padding: 18px;
  border-collapse: collapse;
}

.res-contain tr:nth-child(even) {
  background-color: #d6eeee;
}

.res-contain tr:hover {
  background-color: rgb(201, 109, 201);
}

.res-contain li {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .sub-container {
    padding: 12px;
    margin: 0;
    width: 100%;
  }
}
