@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(247, 246, 246);
}

.container .content {
  margin: 36px 36px 18px 268px;
  width: 100%;
}

/*
.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
} */
.sub-container {
  position: relative;
  margin-left: 250px;
  width: 100%;
}

:root {
  --color-bg: rgba(31, 31, 31, 0.6);
  --color-bg-variant: rgba(230, 230, 230, 0.7);
  --color-primary: rgba(253, 102, 33, 0.8);
  --color-white: #fff;
  --color-abs: rgba(255, 208, 164, 0.7);
  --transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  gap: 18px;
  background-color: #f5f5f5;
}

.details-wrapper .img-container {
  width: 70%;
  padding: 90px;
}

.details-wrapper .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-wrapper .description {
  text-align: right;
  width: 30%;
}

.details-wrapper .description h2,
.price-list li h6 {
  margin: 0;
}

.details-wrapper .description p {
  margin: 0;
  font-size: 14px;
}

.details-wrapper .description .price-list {
  margin: 0;
  padding: 18px 0;
  list-style: none;
}

.price-list li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.price-list li:nth-child(odd) {
  background-color: #e2e3e5;
}

.price-list li h6 {
  font-size: 16px;
  font-weight: 500;
}

.buttons {
  margin-top: 50px;
}

.reserveBtn svg {
  height: 21px;
  margin: 0 8px;
  font-size: 1.5em;
}

.buttons .discover svg {
  margin-top: 4px;
  color: rgba(253, 102, 33, 0.8);
}

.buttons .discover {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.rep {
  text-align: left;
}

.reserveBtn {
  background-color: rgba(253, 102, 33, 0.8);
  color: white;
  border: none;
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 100px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 50px;
}

.color-picker {
  margin-top: 21px;
}

@media only screen and (max-width: 600px) {

  .container{
    flex-direction: column;
  }
  .container .content{
    margin: 0;
    padding: 21px;
  }
  .details-wrapper {
    flex-direction: column;
    height: unset;
  }

  .details-wrapper .img-container {
    width: 100%;
    padding: 0;
  }

  .details-wrapper .description {
    text-align: center;
    width: 100%;
    padding-top: 32px;
  }

  .reserveBtn {
    margin: 4px auto;
    padding: 12px 48px;
  }
}
