@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.container .content {
  margin: 36px 36px 18px 268px;
  width: 100%;
}

.sub-container {
  position: relative;
  width: 100%;
}

:root {
  --color-bg: rgb(31, 31, 31);
  --color-bg-variant: rgb(230, 230, 230);
  --color-primary: rgb(84, 2, 84);
  --color-primary-var: rgb(130, 8, 130);
  --color-white: #fff;
  --color-abs: rgb(255, 208, 164, 0.7);
  --transition: all 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

form {
  width: 100%;
  max-width: 650px;
  margin: 200px auto;
  margin: 280px auto;
}

form > div {
  width: 100%;
}

.model-selector {
  width: 100%;
}

form input,
form select {
  width: 100%;
  padding: 8px 4px;
}

.res-contain,
.moto-contain {
  width: 100%;
  max-width: 900px;
  margin: 280px auto;
  justify-content: space-between;
}

.res-contain table,
.moto-contain table {
  width: 100%;
  text-align: left;
}

.res-contain table,
.res-contain table td,
.res-contain th {
  border: 1px solid black;
  padding: 18px;
  border-collapse: collapse;
}

.moto-contain table,
.moto-contain table td,
.moto-contain th {
  border: 1px solid black;
  padding: 18px;
  border-collapse: collapse;
}

.res-contain tr:nth-child(even) {
  background-color: #d6eeee;
}

.moto-contain tr:nth-child(even) {
  background-color: #d6eeee;
}

.moto-contain ul {
  /* background-color: aqua; */
  padding: 0;
  list-style: none;
}

.moto-contain ul li a {
  display: flex;
  align-items: center;
  margin: 8px 0;
  border: 1px solid black;
  text-decoration: none;
  list-style: none;

  /* background-color: chocolate; */
}

.moto-contain ul li > div {
  border: 1px solid grey;
  padding-left: 8px;
}

.moto-contain ul li .image {
  width: 150px;
  height: 150px;
}

.details-wrapper .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moto-contain ul li .image img {
  width: 100%;
}

.res-contain tr:hover {
  background-color: rgb(201, 109, 201);
}

.moto-contain tr:hover {
  background-color: rgb(201, 109, 201);
}

.res-contain li {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  text-align: left;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  gap: 18px;
  background-color: #f5f5f5;
}

.details-wrapper .img-container {
  width: 70%;
  padding: 90px;
}

.details-wrapper .description {
  text-align: right;
  width: 30%;
}

.details-wrapper .description h2,
.price-list li h6 {
  margin: 0;
}

.details-wrapper .description p {
  margin: 0;
  font-size: 14px;
}

.details-wrapper .description .price-list {
  margin: 0;
  padding: 18px 0;
  list-style: none;
}

.price-list li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.price-list li:nth-child(odd) {
  background-color: #e2e3e5;
}

.price-list li h6 {
  font-size: 16px;
  font-weight: 500;
}

.buttons {
  margin-top: 50px;
}

.reserveBtn svg {
  height: 21px;
  margin: 0 8px;
  font-size: 1.5em;
}

.buttons .discover svg {
  margin-top: 4px;
  color: rgba(253, 102, 33, 0.8);
}

.buttons .discover {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.rep {
  text-align: left;
}

.reserveBtn {
  background-color: rgba(253, 102, 33, 0.8);
  color: white;
  border: none;
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 100px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 50px;
}

.color-picker {
  margin-top: 21px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sub-container {
    padding: 12px;
    margin: 0;
    width: 100%;
  }

  .container .content {
    margin: 0;
    padding: 21px;
  }

  .details-wrapper {
    flex-direction: column;
    height: unset;
  }

  .details-wrapper .img-container {
    width: 100%;
    padding: 0;
  }

  .details-wrapper .description {
    text-align: center;
    width: 100%;
    padding-top: 32px;
  }

  .reserveBtn {
    margin: 4px auto;
    padding: 12px 48px;
  }
}

/* Auth Login */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.form-group input {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-primary {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: rgb(253, 102, 33);
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

.link-primary {
  color: rgb(253, 102, 33);
  font-weight: 400;
  font-size: 16px;
}

.form-desc {
  margin-bottom: 1em;
}
