@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');


*{
  box-sizing: border-box;
  font-family: 'poppins';
}
.container {
  width: 100%;
  min-height: 100vh;
  /* background-color: grey; */
}
header{
  display: flex;
  justify-content: space-between;
  height: 70vh;

}
:root{
  --color-bg: rgba(31,31,31, 0.9);
  --color-bg-variant: rgb(202, 201, 201);
  --color-primary: rgba(253,102,33, 0.9);  
  --color-white: #fff;

  --color-abs: rgb(255,208,164);

  --transition: all 0.4s ease;
}

html{
  scroll-behavior: smooth;
}