.navigation {
  max-width: 250px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-bg-variant);
  flex: 1;
}

.nav-links {
  margin-top: 67px;
  list-style: none;

  /* background-color: brown; */
  width: 100%;
  padding: 0;
}

.nav-links li {
  /* background-color: aliceblue; */
  padding: 0;
  margin: 10px 0;
}

.nav-links li a {
  /* background-color: var(--color-primary); */
  line-height: 40px;
  align-items: center;
  height: 100%;
  display: flex;
  padding-left: 12px;
  text-decoration: none;

  /* color: var(--color-primary); */

  /* padding: 12px 17px; */
  color: darkred;
}

.nav-links li a:hover {
  border: 1px solid var(--color-abs);
  background-color: var(--color-primary);
  color: var(--color-white);
}



.logo {
  margin: 29px 49px;
}

.icon-div {
  text-align: left;

  /* background-color: brown; */
  align-self: flex-start;
  margin: 18px 14px;
  display: none;
}

.icon {
  font-size: 26px;
  color: orangered;
}

@media screen and (max-width: 600px) {
  .icon-div {
    display: block;
  }

  .navigation {
    display: none;
  }
}
